    
	/* Suite du Menu vertical: Dropdown topnav(#main) */

	
	.dropdown2{
		float:left;
		overflow:hidden;
	}
	.dropdown2-btn{
		border:none;
		outline:none;
		background: none; 
		margin:0;
		/* recopier ici les proprieté du #menu a ( voir zoning2.css) sauf le float:left */
		padding:14px 41px 12.5px 41px; /* 14px 16px ; */	
		text-decoration:none;
		font-size:17px;
		color:purple;  
        transition: all 0.8s;  		
	}
	.dropdown2-btn:hover{
		/* recopier ici les proprieté du #menu a ( voir zoning2.css) */
		 background:#ccf;
		 color:white;
		 font-weight:bold;
         box-shadow:
			0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
			0px 2px 2px 0px rgba(255, 255, 255, 0.5) !important; 		 
	}
	.dropdown2-container{
		position:absolute;
		min-width:14.188em; /* max-width:227px; */
		background:#ddd;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
		display:none;
		
	}
	.dropdown2:hover  .dropdown2-container { display: block;}/* ouverture du sous-menu */ 
	
	/* ATTENTION !!!!! la selection commence depuis #menu. sinon ça marche pas */
	#menu .dropdown2-container a{
		display:block;
		float:none;		
	}
	
	
	
	/*  MENU VERTICAL: Dropdown sidebar(#documenter_sidebar)  */
	
	.dropdown-btn {

	  display: block; 
	  
	  padding-right:1em; 
	  font-size: inherit;
	  text-decoration: none;
	  color: #818181; 

	  border: none;
	  outline: none;
	  background: none; 
	  text-align: right;
	  width: 100%;  
	}

	#documenter_sidebar ol a:hover, .dropdown-btn:hover{
		background:#444444;
		color:#f7f7f9;
		border-top:1px solid #444444;
	}
	

	.dropdown-container a:hover{		  
		background:#ccf;
		color:#115;
		border-top:1px solid #ccf;
	}

	.dropdown-btn, .dropdown-container a{
		display:block;
		border-top:1px solid #ddd;
		border-bottom:1px solid #aaa;
		/* padding:6px 15px 7px 0;*/
		padding:14px 15px 12px 0;
		text-align:right;
		text-decoration:none; 
		color:#6F6F6F;     
		cursor:pointer;
        font-size:12px;
        font-weight:bold; 	
   		
	}
    
	.dropdown-container {
	  display:none;
	  background-color: #ddd; /* j'hesite entre #ddd et #ccc, PAS #8c8b81; */

	}
	
	.dropdown:hover .dropdown-container {
	  display:block;
	}
	
	