	
	/* Sticky header */
	
	.sticky-ejectBtn{
	  position:fixed;
	  top:2px;
      left: 0.9%;	  
      text-align:left;
	  margin-right:16px;
	  height:44px;
      box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5) !important;
  
    }	
	
	.sticky-ejectBtn:hover{
	  box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5) !important; 
	}
	
   /* sticky top menu */
 
	.sticky-menu{
	  position:fixed;
	  top:0;
	  left:0.9%;
      width:92.8%;
	  padding-left:48px;
	  height:46px !important;
      background-color:#ddd !important;   
	  box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5) !important; 
	}
	
	.sticky-menu a:hover{
	  box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5) !important; 
	}
	

	
   /* sticky barre laterale */
   
    .stickySidebar, .stickySidebarDroit {
	  position: fixed !important;
	  top: 10% !important;	  
	  height:auto !important; 	  
	  z-index:0;	  
	}
	.stickyNoSupepose{	
		top: -17% !important;	 
		transition: top 2s;
	}
	

	
	.stickySidebar{
	  border-radius: 4px 0px 0px 4px !important;	
	}
	.stickySidebarDroit {

		right:1.1em !important;
		border-radius: 0px 0px 0px 0px !important;
				
	}

	
	/*
	 * Problème spécifique au template session1 2017: Vendredi 03 Mars 2020
	 *
	 * Objectif: Mieux ressortir l'effet coulissant lors d'un sticky en scroll-Y ( remontée de la page par l'utilisateur) 
	 *
	 * J'ai enveloppé les sidebar( gauche et droite) dans des div métaliques pour mieux ressortir l'effet coulissant quant la page défile
	 * Ces "div enveloppe" sont en postition absolute => donc leurs contenu( les sidebar doivent faire width:100%). OK!
	 *
	 * Où est le blème?
	 * Le blème est que,  lors d'un sticky j'ai fixé les sidebar( position:fixed)
     * Du coup, comme maintenant ils sont à "width: 100%";  ils occupent toute la largeur de l'écran( un vrai catastrophe !)	 
	 * 
	 * La solution est de spécifier des nouvelles width correspant à la  "position:fixed" qui se met en place lorsqu'on remonte la page
	 * Cette solution se traduit par les 2 lignes suivantes:
	 *
	 */
	.stickySidebar{ width:14.5% !important;} /* à specifier seulement pour session2017 car envelopée dans un div position absolute */
    .stickySidebarDroit{ width:18% !important; } /* à specifier seulement pour session2017 car envelopée dans un div position absolute */
