
/******************* EFFETS STRUCTURE( à retenir ) ************************/
.dropdown {
  float:left;
  overflow: hidden;/* SINON .dropdown-content se barre à gauche de l'écran: BIZZARE!! */
}
.dropdown .dropbtn {
   border: none;
   outline: none; /* contour */
   margin:0;    
}
.dropdown-content {
  display: none;
  position: absolute; /* par rapport à .dropdown : SINON il bouge d'autres div et fout la merde dans #contenu */  
  min-width: 160px; 
  z-index: 1;
}

/* TOUT SE PASSE ICI - .dropdown-content était à display: none;  */
.dropdown:hover .dropdown-content {
  display: block; /* s'affiche après un hover sur le parent - Ainsi pas besoin de brsoin de javascript */
}

/* Problème le "display:block;" ne s'applique pas( les items ne sont pas aligné vertical )  */
/* Solution: commencer la selection de depuis le conteneur #menu */
#menu .dropdown-content a {
  display: block ; /* Alignement vertical des item menu */
  float: none; /* sinon un float:left s'applique par défaut( et on perd le "display:block") */ 
}

/******************* EFFETS CONTENU ( à personnaliser) ************************/

.dropdown .dropbtn {
  font-size: 16px;  
  padding: 18px 16px 10px 16px;
  background-color: inherit; /* mm couleur que le parent  c.àd .dropdown */
  font-family: inherit; /* mm police que .dropdown */
  color:inherite; /* refus de prendre la mm couleur que les autres items: i fo un lien réel peu être pour que ça marche */
}

.dropdown-content {
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#menu a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color:#32a1ce; /* un bleu très classe */
}

#menu a:active, .dropdown:active .dropbtn {
  color: #ECECEA; 
}

/* Problème le "text-align: left; " ne s'applique pas */
/* Solution: commencer la selection de depuis le conteneur #menu */
#menu .dropdown-content a { 
  padding: 12px 16px; /* c'est ici qu'on dessine le contenu du dropdown-content */  
  text-align: left;
  text-decoration: none;
  color:inherit;    
}


#menu .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}


